.course-card {
  border-radius: 18px;
  box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
  overflow: hidden;
  height: 100%;

  &__image {
    padding: 9px 0;
    width: 144px;
    height: 144px;

    &-cover {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    padding: 12px 18px 18px;
  }
}
