.main {
  padding: 24px;
  display: flex;
  align-items: start;

  @media (max-width: $md) {
    flex-direction: column;
  }

  &__courses {
    margin-left: 24px;
    width: 100%;
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: $md) {
      margin-top: 24px;
      margin-left: 0;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: $sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
